*{	font-family: "Lucida Console", monospace;}

h1      { font-size:  9rem; background: black; color: white; padding: 20px;}	
button  { font-size:  3rem; background: black; color: white; padding: 20px;}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    text-align: center;
    height: 90vh
}
