*{	font-family: "Lucida Console", monospace;}

/* For smart phones */
@media screen and (max-width: 600px) {
	h1      { font-size:  6rem;}	
	button  { font-size:  2rem;}
}

/* For desktop computers */
@media screen and (min-width: 600px) {
	h1      { font-size:  9rem;}	
	button  { font-size:  3rem;}
}

body {
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center;
    height: 100vh
    display: flex;
    flex-direction: column;
}
